<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Events</title>

    <!--                bootstrap                -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!--                  vanilla style sheets           -->

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


<!--        header partial            -->
    <% include ./partials/_header %>
  </head>

<!-- welcome message -->

  <body>

    <h1><%= title %></h1>
    <h2>by: <%= host%></h2>
    <h2><%= location%></h2>
    <p>Date: </p>
    <% for(var _timeSlot in timeSlots) { %>
      <p>Time Start: <%= timeSlots[_timeSlot].start_time%> - Time End: <%= timeSlots[_timeSlot].end_time %>
    <% } %>


<!--       column  version     -->

<!--   <div class="table-responsive text-center">
    <h1> Times </h1>

  <section class="row text-center">
    <div id="column" class="column col-sm small">
      <h2>Id 01</h2>
      <h3>3:00</h3>
      <h3>4:00</h3>
      <p>Some text..</p>
    </div>

    <div class="column col-sm small" style="background-color:#bbb;">
      <h2>Id02</h2>
      <h3>3:00</h3>
      <h3>4:00</h3>

        <p>Joe</p>
        <p>Clare</p>
        <p>Mike</p>

    </div>

    <div class="column col-sm small" style="background-color:#ccc;">
      <h2>Id03</h2>
      <h3>3:00</h3>
      <h3>4:00</h3>

        <p>Clare</p>
        <p>Mike</p>

    </div>

    <div class="column col-sm small" style="background-color:#ccc;">
      <h2>Id04</h2>
      <h3>3:00</h3>
      <h3>4:00</h3>

        <p>Joe</p>
        <p>Clare</p>

    </div>

    <div class="column col-sm small" style="background-color:#ccc;">
      <h2>Id05</h2>
      <h3>3:00</h3>
      <h3>4:00</h3>
    </div>
  </section> -->

<!-- Table version -->
  <h1 class="table-responsive text-center"> Times </h1>

  <table class="table">
    <tbody>
      <tr>
        <th scope="col-sm small">Names</th>
        <td>Id01</td>
        <td>Id02</td>
        <td>Id03</td>
        <td>Id04</td>
        <td>Id05</td>


      <tr>
        <th scope="col-sm small"></th>
        <td>4:00PM</td>
        <td>5:00PM</td>
        <td>6:00PM</td>
        <td>7:00PM</td>
        <td>8:00PM</td>

      </tr>
      <tr>
        <th scope="col-sm small"></th>
        <td>4:30PM</td>
        <td>5:30PM</td>
        <td>6:30PM</td>
        <td>7:30PM</td>
        <td>8:30PM</td>

      </tr>
      <tr>
        <th scope="row">Mike</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>

      <tr>
        <th scope="row">Bill</th>
        <td><img src="/images/check.png" alt="" style="width:20px; height:auto;"></td>
        <td><img src="/images/check.png" alt="" style="width:20px; height:auto;"></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>

<!-- add email and name -->
  <form id="attendees-input-id" class="align-items-center constainer">
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="attendees-name-id">name</label>
        <input class="form-control" id="attendees-name-id" type="text">
      </div>
      <div class="col-sm-6">
        <label for="attendees-email-id">email</label>
        <input class="form-control" id="attendees-email-id" type="text">
      </div>
    </div>
    <button id="atendees-submit" type="submit" class="btn btn-primary">Submit</button>
  </form>



  </body>







  <!--       footer partial          -->
<footer>
  <% include ./partials/_footer %>
</footer>


</html>
