<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Events</title>


<!--        header partial            -->
    <% include ./partials/_header %>
  </head>

<!-- welcome message -->

  <body>
    <div class="table-responsive text-center">
      <h1><%= events[0].title %></h1>
      <h2>by <%= events[0].host%></h2>
      <h2><%= events[0].location%></h2>
    </div>

    <h1 class="table-responsive text-center"> Times </h1>

<!-- table -->

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
   <% for(var _timeSlot in times) { %>
      <th scope="col"><%= "  " + times[_timeSlot].start_time + " - " + times[_timeSlot].end_time + "  " %></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% if (attendees) { %>
    <% for(var _attendee in attendees) {%>
    <tr>
      <th scope="row"><%= attendees[_attendee].name %></th>
        <% for(let i = 0; i < times.length; i++){%>
            <% if(attendees[_attendee].times_available.includes(times[i].id)) { %>
              <td> Yes </td>
            <% } else {%>
              <td> NO </td>
            <% } %>
      <% } %>
    </tr>
    <% } %>
  <% } %>
  </tbody>
</table>



<script>
function buttonAlternate() {
    document.getElementById("change-button-colour").style.color = "red";
    console.log("button pressed")
}
</script>


<!-- add email and name -->
  <form id="attendees-input-id" class="align-items-center constainer">
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="attendees-name-id">name</label>
        <input class="form-control" id="attendees-name-id" type="text">
      </div>
      <div class="col-sm-6">
        <label for="attendees-email-id">email</label>
        <input class="form-control" id="attendees-email-id" type="text">
      </div>
    </div>
    <button id="atendees-submit" type="submit" class="btn btn-primary">Submit</button>
  </form>
  </body>







  <!--       footer partial          -->
<footer>
  <% include ./partials/_footer %>
</footer>


</html>
